
@{
    ViewBag.Title = "Activar";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="o-page__card">
    <div class="c-card u-mb-xsmall">
        <header class="c-card__header u-pt-large">
            <a class="c-card__icon" href="#!">
                <img src="~/Content/img/logoinventario.png" alt="Panel de Control" />
            </a>
            <h1 class="u-h3 u-text-center u-mb-zero">Bienvenidos al Sistema de Produccion.</h1>
        </header>
        <h1>@ViewBag.Mensaje</h1>
        <a href="~/Account">Entrar al sistema</a>
    </div>
   
</div>


