
@{
    ViewBag.Title = "ResetPass";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="o-page__card">
    <div class="c-card u-mb-xsmall">
        <header class="c-card__header u-pt-large">
            <a class="c-card__icon" href="#!">
                <img src="~/Content/img/logoinventario.png" alt="Panel de Control" />
            </a>
            <h1 class="u-h3 u-text-center u-mb-zero">Recuperar cuenta  Sistema de Produccion.</h1>
        </header>

        <form class="c-card__body formAjax" method="post" action="~/Account/ResetPass">

            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input2">Contraseña</label>
                <input class="c-input" type="password" id="password" required="required" name="Password" placeholder="*****">
            </div>
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input2">Repetir Contraseña</label>
                <input class="c-input" type="password" id="re-password" required="required" EqualTo="#password" placeholder="*****">
            </div>
            <input class="c-input" type="hidden" id="tkn" name="tkn" value="@ViewBag.tkn">
            <button class="c-btn c-btn--info c-btn--fullwidth btnAjax" type="submit">
                Guarda Contraseña
                <img src="~/Content/img/load.gif" class="loadingAjax" style="display:none" />
            </button>
        </form>
    </div>
    <div class="o-line">
        <a class="u-text-mute u-text-small" href="~/Account">Entrar al sistema</a>
    </div>
</div>

